*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.caroussel_container
{
    width: 60%;
    margin: auto;
border:solid 5px black;
overflow: hidden;

}
.caroussel_slide
{
    display: flex;
    height: 500px;
    width: 100%;

}